/* UNIVERSAL STYLES */

body {
    margin: 0;
    background-color: white;
    font-family: 'PT Serif', sans-serif;
}

/* Header Section */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    color: #a3c3a5;
}

header a {
    text-decoration: none;
    color: #a3c3a5;
}

.headerlogo {
    text-align: center;
    border: 1px solid #a3c3a5;
    border-radius: 10px;
    padding: 0px 36px 0px 36px;
    margin: 10px;
}

header h1 {
    font-size: 40px;
    margin-bottom: -10px;
}

header p {
    font-size: 16px;
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    padding: 15px 30px;
    color: #a3c3a5;
}

nav a:hover {
    background-color:white;
    border-radius: 5px;
    text-shadow: none;
    color: #909e7f;
}


/* Main Section */


/* Footer Section */

footer {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-image: url(./images/footer.png);
    background-size: cover;
    background-position: bottom;
    color: #efead8;
    font-size: 15px;
    height: 200px;
    width: 100%;
    
}

/* INDIVIDUAL PAGE STYLES */

/* Index Page */

.indexmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.indextext {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #909e7f;
    font-style: italic;
    font-size: 32px;
    width: 800px;
    height: 700px;
}

.indextext1 {
    background-color:#f2f8f1;
    color: #909e7f;
    padding: 32px;
    height: 100%;
    border-radius: 10px 0px 0px 0px;
}

.indextext2 {
    background-color:#e4f1e3;
    color: #909e7f;
    height: 100%;
    padding: 32px;
}

.indextext3 {
    background-color:#c5dac4;
    color: white;
    padding: 32px;
    height: 100%;
}

.indextext4 {
    background-color:#909e7f;
    color: white;
    padding: 32px;
    height: 100%;
    border-radius: 0px 0px 0px 10px;
}



.indeximg img {
    border-radius: 0px 10px 10px 0px;
    height: 700px;
}

/* Rendelőnk Page */

.rendelonkmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f7f3e1;
    height: auto;
    padding: 20px;
    min-height: 600px;
}

.rendelonktext {
    width: 600px;
    padding-top: 20px;
}

.rendelonkimg {
    width: auto;
    height: 500px;
    border-radius: 10px;
    align-self: center;
}


/* Orvosaink Page */

.orvosainkmain {
    padding: 40px;
}

.orvosainksor {
    display: flex;
    justify-content: space-around;
}

.orvosainkbox {
    text-align: center;
    padding: 20px;
   
}

.orvosainkbox img {
    width: 250px;
    border-radius: 10px;
}

/* Kezeleseink Page */

.kezeleseinkmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f7f3e1;
    height: auto;
    padding: 20px;
    min-height: 600px;
}

.kezeleseinktext {
    width: 600px;
    padding-top: 20px;
}

.kezeleseinkimg {
    align-self: center;
    width: 600px;
    height: auto;
    border-radius: 10px;
}

/* Kapcsolat Page */

.kapcsolatmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f7f3e1;
    height: auto;
    padding: 20px;
    min-height: 600px;
}

.kapcsolattext {
    width: 600px;
    padding-top: 20px;
}

iframe {
    align-self: center;
}

.kapcsolattext h2 {
    font-size: 30px;
}



